body {
    font-family: "Lato", sans-serif;
    background-color:#f7c830;
  }
  
.logo{
    padding: 10px;
}

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#f7c830;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 45px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #fff; 
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    background: #ca0369;
    transition: .5s;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px){
    .sidenav {padding-top: 10px;}
    .sidenav a {font-size: 16px;}
  }
     
  /* Style the Sticky icons on web page */   
  
  .stickyicon-list a {   
  /*display: block;  */
  text-align: center;   
    
  transition: all 0.5s ease;   
  color: white;   
  font-size: 20px;   
  }   
        
  /* HOver affect on sticky social media icons */   
  .stickyicon-list a:hover {   
  color:#000;  
  }   
     
  /* Now we have to design each icon of social media */         
  .facebook {   
  background: #3b5998;   
  color: white;  
  }         
  .twitter {   
  color: white;   
  background: #00acee;   
  }   
  .linkedin {   
  background: #0e76a8;   
  color: white;   
  }         
  .instagram {   
  background: #3f729b;   
  color: white;   
  }         
  .youtube {   
  color: white;   
  background: #c4302b;    
  }  
  .abc{
  background:#aaa;
  text-align:"centre";
  padding:12px;
  width: 100%;
  height: 100%;
  }

  /**/
  .g-container,.minig-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color:none;
    padding: 10px;
  }

  .item1, .item2 {
    background-color: #f8e799;
    text-align: center;
    padding: 20px 0;
    
  }

  .item1-a{
      background-color: #fff6c7;
      padding: 20px 0;
      
  }
  .cta-btt{
    font-family: inherit;
    font-size: 1.2rem;
    padding: 5px 18px;
    border: 2px solid;
    border-radius: 5px;
   
    text-decoration: none;
    font-weight: 500;
  }
  .cta-btt:hover{
    background: #ca0369;
    text-decoration: none;
    transition: .5s;
    
  }

  .item1-b{
    
    background-color: #fff9dc;
    padding: 35px 0;
    grid-row: 1 / 1;
}

.accordion {
    background-color: #fff6c7;
   
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
.active, .accordion:hover {
    background-color: #fff9dc; 
  }
.panel {
    padding: 0 18px;
    display: none;
    
    overflow: hidden;
  }
  