/**/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



ul {
  list-style: none;
}


  nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
 
  a.active, .cta-bt:hover, a:hover{
    background: #ca0369;
    transition: .5s;
    color: white;
  }


body {
  font: 16px/1.5 , sans-serif;
  
}

/* CONTAINER*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.page-header {
  background: #e4e1d7;
}
.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 15px;
}

.page-header ul li:not(:last-child) {
  padding-right: 15px;
}

.page-header .cta-bt {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 18px;
  border: 1px solid;
  border-radius: 5px;
}


.page-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  align-items: flex-end;
  place-items:flex-end;
  min-height: 250px;
  background:
    url(https://pbs.twimg.com/profile_banners/891166842307223552/1611759659/1080x360) no-repeat
    center / cover;
  background-blend-mode: luminosity;
  /*color: black;
  text-align: right;*/
}

.page-main div {
  max-width: 500px;
}

.page-main h1 {
  margin-bottom: 20px;
}

.page-main p + p {
  margin-top: 10px;
}


.page-footer {
  display: flex;
  flex-direction: column-reverse;
  background: #f7c830;
}

.page-footer ul {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.page-footer ul li:not(:last-child) {
  margin-right: 20px;
}
.footercolor{
    color:black;
}

/**/
@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
  }

  .page-header .cta-bt {
    order: 1;
    color: black;
    text-decoration: none;
    font-weight: 500;
    
  }

  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer ul {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .page-main {
    padding-left: 90px;
  }
}
