<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Sign_in.css') }}">
</head>

<body style="background-color: #f7c830;">
    <div class="main">
        <div class="form-box">
            <h1
                style="text-align:center; color: #ca0369; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font: bold;">
                KATALYST LOGIN</h1>


            <form id="user" class="input-group" action="{{url_for('Authentication')}}" method="POST">
                <input type="text" name="emailid" class="input-field" placeholder="User Name" required>
                <input type="password" name="pass" class="input-field" placeholder="Password" required>
                <br>
                <br>
                <br>
                <br>
                <button type="submit" class="submit-btn">Log-In</button>
            </form>

        </div>
    </div>
    <script type="text/javascript">
        var x = document.getElementById("user");
        var y = document.getElementById("admin");
        var z = document.getElementById("btn");

        function admin() {
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }

        function user() {
            x.style.left = "50px";
            y.style.left = "-400px";
            z.style.left = "0";
        }
    </script>
</body>

</html>